.form_container{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  input{
    width: 40%;
    padding: 10px;
    height: 20px;
  }
  button{
    position: absolute;
    left:68%;
    background-color: transparent;
    border:none;
    cursor: pointer;
  }
}