.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  position: absolute;
  width: 100%;
  color: #f1f1f1;
  text-shadow: 0 0 3px #000;
  img{
    margin-bottom:0;
  }
  a {
    color: inherit;
    text-decoration: inherit; 
  }
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 0.7em;
  }
  h4{
    font-size: 0.35em;
  }

  ul {
    list-style-type: none;
  }

  .header__container_logo{
    padding: 20px;
  }

  .header__container_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:35rem;
    #pufi-rain{
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
    }
    
    #pufi-cart{
      border-right: 1px solid #f1f1f1;
    }

    li{
     
      width: 25%;
      text-align: center;
      margin-top:0;
    }
  }
  
  .header__container_user{
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    padding: 5px;

    h4{
      width: 50%;
      text-align: center;
    }

    #mi-cuenta{
      border-right: 1px solid #f1f1f1;
    }
  }
}